* {
    margin: 0;
    padding: 0;
  }
.img-flores {
    width: 400px;
    height: 300px;
}
body {
    background-color: rgb(227, 239, 249);
}
p {
    color: black;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.contenedores {
    display: flex;
}
.titulo {
    background-color: white;
    padding: 30px;
    background-color: white;

}
.container_actividad {
    top: 0;
    /* background-color: white; */
    align-items: center;
    /* width: 100%; */
    /* z-index: 1; */
    background-color: white;
    height: 2000px;
}
.nav_menu {
    padding: 20px;
    justify-content: center;
    margin-right: 10px; 
    /* display: flex; */
}
.actividades {
    margin-top: 60px;
    margin-left: 40px;
}
.nav_menu li {
    margin-left: 40px;
    margin: 20px;
    margin-right: 10px;
    
}
.container-imagen {
    display: flex;
}
.lista-desplegable-node {
    margin-left: 60px;
}
